---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/TextPage.astro';
---

<Layout
	title="About"
	description="About Garanty Studios"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}

	<p>
		Garanty Studios began as a dream - but in truth, it was driven by pure passion and a deep interest in developing games. 
		We are based in Germany, where this vision slowly took shape and evolved into something much bigger.
	</p>

	<p>
		Our official debut came with A NOT Troll Game. The early Beta 0.1 version was released on itch.io on August 20, 2022 — a very simple troll-style platformer, launched on the founder’s birthday. 
		What started as a small and experimental project quickly grew beyond expectations. 
		The game continued to be developed and refined over time, leading up to Version 1.5, which marked a long-awaited release on Steam.
	</p>

	<p>
		July 13, 2023 became a defining moment not only for A NOT Troll Game, but also for Garanty Studios as a whole. 
		It marked the beginning of a new era. Today, this date is officially celebrated as the game’s release anniversary, while also honoring July 13, 2022 — combining the day of the Steam release with the year of the original itch.io launch. 
		Together, these milestones represent the foundation of our journey.
		A NOT Troll Game achieved significant success, reaching several thousand players and establishing a strong starting point for our studio.
	</p>

	<p>
		On June 1, 2024, Garanty Studios released its second official commercial project: the beta version of Magic Masters. This mobile game focuses on real-time action, where players use magic to fight against skeleton enemies. 
		While it did not reach the same numbers as A NOT Troll Game, it played an important role in advancing the development and experience of Garanty Studios.
	</p>

	<p>
		And the story continues...
	</p>
</Layout>

